/*

This is our css style sheet

*/

* {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
/*----------------------- Main Div Container Styling -------------------------*/
#img-div {
    height: 90vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute-page-main-image.jpg);
}

#title {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 400px 400px 0 100px;
}

#img-div > p {
    padding: 0 0 0 100px;

}
/*----------------------- Section Styling---------------------------------------*/
#tribute-info {
    text-align: center;
}

#tribute-info > h3 {
    padding: 30px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

#tribute-info > .container {
    display: flex;
    flex-direction: column;
    padding: 5px 400px;
    font-style: italic;
}
.secondP {
    padding: 7px;
    font-size: 10px;
}