/*

This is our css style sheet

*/

* {
    font-size: 15px;
    margin: 0;
    padding: 0;
}
/*----------------------- Main Div Container Styling Below -------------------------*/
#img-div {
    height: 90vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute-page-main-image.jpg);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

#title {
    color: rgb(255, 255, 255);
    font-size: 50px;
    /* padding: 400px 400px 0 100px; */
}

#img-div > p {
    padding: 5px 50px;
    color:rgb(255, 255, 255)
}

img {
    width: 100%;
    text-align: center;
    padding: 10px;
}
/*----------------------- Section Styling Below ---------------------------------------*/
#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tribute-info > h3 {
    padding: 30px;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 5px 220px;
}

li > p {
    padding: 5px 0;
    text-align: left;
}

#tribute-info > .container {
    display: flex;
    flex-direction: column;
    padding: 5px 220px;
    font-style: italic;
    justify-content: space-around;
}
.secondP {
    padding: 7px;
    font-size: 10px;
}
/*----------------------- Footer section -------------------*/

footer{
    text-align: center;
}

/*----------------------- Media Queries Below -----------------*/

/*----Tablet Display------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    /*---------Main Div Container Styling Below-------------*/
    #title {
        font-size: 25px;
    }
    #img-div {
        height: 50vh;
        width: 100%;
    }
    /*---------Section Styling Below-------------*/
    #tribute-info {
        color: white;
        background-color: rgb(139, 138, 138);
    }
}

/*----Phone Display------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    /*---------Main Div Container Styling Below-------------*/
    #img-div {
        height: 30vh;
        justify-content: center;
    }
    #img-div > p {
        padding: 10px 10px;
    }
    /*---------Section Styling Below-------------*/
    ul,
    #tribute-info > .container {
        padding: 5px 100px;
    }
    #tribute-info {
        color: white;
        background-color: rgb(105, 80, 80);
    }
    /*---Footer Section--------------------------*/
    footer{
        font-size: 10px;
        padding: 0 100px;
    }
    footer > h1,
    h1 > a {
        font-size: 10px;
    }
}